.chrome-popup-container {
  font-family: 'Monaco';
  font-size: 12px;
  width: 500px;
  margin: 0;
}

.chrome-popup-container ul {
  padding: 0;
  margin: 0;
}

.chrome-popup-container li {
  display: inline-block;
  padding: 10px;
  border: 2px solid #AE50B3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chrome-popup-container li:hover {
  cursor: pointer;
}

.chrome-popup-container li.active {
  background-color: #BCFF8C;
}

.chrome-popup-container .tab-body-container {
  border: 1px solid #AE50B3;
  height: 500px;
  padding: 10px;
}
