.chrome-popup-container .select-dropdown {
	font-family: 'Monaco';
	padding: 6px 15px;
	margin-left: 10px;
	-webkit-appearance: none;
}

.chrome-popup-container .success-message {
	padding: 5px;
	color: #fff;
	background-color: #6eb33e;
	border-radius: 5px;
}

.chrome-popup-container .error-message {
	padding: 5px;
	color: #fff;
	background-color: #ff4c4c;
	border-radius: 5px;
}

#giant-emoji {
	position: absolute;
	font-size: 100px;
	top: 50%;
	left: 30%;
}
